<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

  <section class="header is-info ">
<!--new navbar-->
<nav class="navbar is-fixed-top navbar-expand-lg navbar-light p-5 text-light" id="barraMenu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink='/'>Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-capitalize" routerLink='/diary'>diary <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize text-light" routerLink='/contact'>contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--End navbar-->
  </section>
