@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.header{
  margin-bottom: 3rem;
}
h1{

font-size: 3rem;
color: #f7f7f7 !important;

}
h2{
  font-size: calc(14px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
  color: #f7f7f7 !important;
}
#barraMenu{
  background-color: #3298dc !important;
}
@media only screen and (max-width: 600px){
  .header{
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 400px){
  .header{
    margin-bottom: 3.5rem;
  }
  #barraMenu{
    padding: 0.5rem !important;
    height: max-content;
  }
}
