<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<pr-header></pr-header>
<div class="container">
  <form [formGroup] = "userMails" class="" id="mailForm" (ngSubmit) ="submitMe()"><!--We tight the group with the object-->
  <div class="field">
    <label class="label">Name</label>
    <div class="control has-icons-left has-icons-right">
      <input  class="input" type="text" placeholder="John Wick"  formControlName="name"[ngClass]="{ 'is-invalid': submitted && controlMe.name.errors }">
      <span class="icon  is-left">
        <i class="fa fa-user"></i>
      </span>
      <span class="icon  is-right">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div *ngIf="(controlMe.name.touched || controlMe.name.dirty) && controlMe.name.invalid" class="is-danger">
      <div *ngIf="controlMe.name.errors?.required"><span class=" help is-danger">Name is required</span></div>
      <div *ngIf="controlMe.name.errors?.minlength"><p class="help is-danger">Name MUST be longer than 3 letters</p></div>
    </div>

  </div>

  <div class="field">
    <label class="label" >Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" formControlName="username" type="text" placeholder="@john wick" >
      <span class="icon  is-left">
        <i class="fa fa-id-card"></i>
      </span>
      <span class="icon  is-right">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div *ngIf="controlMe.username.touched && controlMe.username.invalid" class="is-danger">
      <div *ngIf="controlMe.username.errors?.required"><span class=" help is-danger">Username is required</span></div>
      <div *ngIf="controlMe.username.errors?.minlength"><p class="help is-danger">Username MUST be at least 3 letters</p></div>
    </div>
    <!-- <p class="help">This username is available</p> -->
  </div>

  <div class="field">
    <label class="label" >Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " formControlName="myMail" type="text"  placeholder="hello@hello.com" value="hello@hello.com" >
      <span class="icon  is-left">
        <i class="fa fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <div *ngIf="controlMe.myMail.touched && controlMe.myMail.invalid"  class="is-danger">
      <div *ngIf="controlMe.myMail.errors?.required"><span class=" help is-danger">Email is required</span></div>
      <div *ngIf="controlMe.myMail.errors?.email"><p class="help is-danger">Please, enter a valid email address</p></div>
    </div>
    <!-- <p class="help is-danger">This email is invalid</p> -->
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="myAgree" class="form-check-input"
        [ngClass]="{'is-invalid': submitted && controlMe.myAgree.errors?.required}">
        I agree to the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&from=EN"
        target="_blank" rel="noreferrer">terms and conditions</a>
      </label>
    </div>
    <div *ngIf=" (controlMe.myAgree.invalid || controlMe.myAgree.touched)" class="is-danger">
      <div *ngIf="controlMe.myAgree.errors?.required && submitted"><span class=" help is-danger">Agreement is required</span></div>
    </div>
  </div>


  <div class="field is-grouped">
    <div class="control" >
      <button class="button is-link" [disabled]="userMails.invalid" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light" type="reset" (click)="onReset()">Reset</button>
    </div>
  </div>
  </form>
</div>
<pr-footer></pr-footer>
