#mailForm{
  margin-top: 10rem;

}
@media screen and (max-width: 600px) {
  #mailForm {
    margin-top: 9rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
@media screen and (max-width: 400px) {
  #mailForm {
    margin-top: 8rem;
  }

}
