
<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

<div class="" [ngClass] = "setClasses()">

  <div class="card">
    <div class="card-content ">
      <!--new layout-->
      <div class="list-wrapper">
        <ul class="list">
          <li class="list-item">
            <div class="list_input touched">
              <label id="checkMe">
              <input (change) = 'onToggle(todo)' type="checkbox" class="is-success">
              <span class="checkmark"></span>
            </label>
            </div>
            <div class="list_content">
              <p> {{ todo?.title }}</p>
            </div>
            <div class="list_delete">
              <span class="del touched" (click) = "onDelete(todo)" >
                <i class="fas fa-trash has-text-dark"></i>
              </span>
            </div>
          </li>
        </ul>
    </div>
    <!--end new layout-->
    <!---->

    <!---->
  </div><!--end card content-->
</div><!--end card-->



